<h4 class="ui center aligned medium icon header">
    <i class="circular blue chat icon"></i>
    Say Hello!
</h4>

<div class="ui two column grid">
   <div class="ui four wide column">
        <div class="ui fluid raised card" style="height: 450px;">
            <div class="content">
                <div class="ui blue vertical pointing menu" style="width: auto;">
                    <a class="item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>   
            </div>
        </div>
    </div>
    <div class="ui twelve wide column">
        <div class="ui fluid raised card" style="height: 450px;">
            <div class="content" style="overflow: auto; height: 16em" id="messages">
                <div class="ui feed" id="message-box">
                    <%= render @messages%>
                </div>
            </div>
            <div class="extra content">
                <%= form_for(@message, html: {class: "ui reply form"}, role: "form", url: message_path, remote: true) do |f|%>
                    <div class="field">
                        <div class="ui fluid blue icon input">
                        <%= f.text_field :body,  placeholder: "Enter your message..."%>
                         <%= f.button '<i class="bordered blue inverted icon edit"></i>'.html_safe%>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>