<h4 class="ui center aligned medium icon header">
    <i class="circular blue chat icon"></i>
    Say Hello!
</h4>

<div class="ui two column grid">
   <div class="ui four wide column">
        <div class="ui fluid raised card" style="height: 450px;">
            <div class="content">
                <div class="ui blue vertical pointing menu">
                    <a class="item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                </div>   
            </div>
        </div>
    </div>
    <div class="ui twelve wide column">
        <div class="ui fluid raised card" style="height: 450px;">
            <div class="content">
                <div class="ui feed">
                    <%= render @messages%>
                </div>
            </div>
            <div class="extra content">
                 <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid blue icon input">
                        <input type="text" placeholder="Enter your message...">
                         <i class="bordered blue inverted icon edit"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>